# Source Data
/ETFs/**
/Stocks/**

# Some exceptions to get it runing out-of-the-box
!**/a.us.txt
!**/aa.us.txt
!**/aaap.us.txt
!**/aaba.us.txt
!**/aac.us.txt
!**/aal.us.txt
!**/aamc.us.txt
!**/aame.us.txt
!**/aan.us.txt